<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who I Am</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="card">
        <img src="{{ url_for('static', filename='image.jpg') }}" alt=" image">
        
        <h1>{{ name }}</h1>
        <p class="skills">{{ skills }}</p>

        <button onclick="showMessage()">Who am I?</button>

        <p id="msg">{{ message }}</p>
    </div>

    <script>
        function showMessage() {
            document.getElementById("msg").style.display = "block";
        }
    </script>

</body>
</html>
